.header__static{
    background-color: #222f3e;
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    align-items: center;
    color: #c8d6e5;
    font-family: 'Courgette', cursive;
}

.header__name{
    font-family: 'Courgette', cursive;
    font-size: 1.3rem;
    margin-left: 3rem;
}


@media only screen and (max-height: 650px){
    .header__static{
        height: 25vh;
    }
}

@media only screen and (max-height: 400px){
    .header__static{
        height: 35vh;
    }
}

@media only screen and (max-width: 970px) {
    .header__static{
        display: none;
    }
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 550px) {

}